:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container.dark-theme {
    --background-color: #1e1e1e;
    --text-color: #e0e0e0;
    --border-color: #444444;
}

/* Apply theme colors */
.main-container {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    height: 100vh;
}

input,
select,
textarea {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
}